################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sunsiva.github.io.sln
/.vs/config/applicationhost.config
/.vs/sunsiva.github.io/v14/.suo
